:root {
    color-scheme: light;
    --text-main: #12214b;
    --text-muted: #4f5c88;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    min-height: 100%;
    padding: 0;
    font-family: "Vazirmatn", "Segoe UI", sans-serif;
    background: #F9F9FD;
    background: linear-gradient(70deg, rgb(53, 83, 183) 0%, rgb(34, 66, 163) 50%, rgb(32, 64, 161) 100%);
    color: var(--text-main);
}

a,
button,
input,
textarea {
    font-family: inherit;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #2fa33b;
}

.invalid {
    outline: 1px solid #da2b2b;
}

.validation-message {
    color: #bf2d2d;
    font-size: 0.88rem;
}

.blazor-error-boundary {
    background: #c12a2a;
    color: #fff;
    padding: 1rem;
}

.blazor-error-boundary::after {
    content: "An error has occurred.";
}

.portal-dashboard {
    min-height: 100vh;
    padding: 0.22rem;
}

.dashboard-frame {
    min-height: calc(100vh - 0.44rem);
    display: flex;
    gap: 4.45rem;
    padding: 1.45rem;
    box-sizing: border-box;
    justify-content: center;
}

.dashboard-side {
    width: 365px;
    border-radius: 28px;
    background: linear-gradient(180deg, #ccd1ff 0%, #7e97e4 42%, #5371c8 100%);
    border: 1px solid rgba(13, 32, 102, 0.72);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    color: #fff;
    padding: 1.65rem 1.75rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
}

.side-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-logo {
    width: 150px;
    margin-bottom: 0.95rem;
    padding: 1rem;
    margin: 2rem 0;
}

.dashboard-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #0f2f84;
    max-width: 70%;
}
.header-dashboard {
    display: flex;
    justify-content: space-between;
}
.user-strip {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.user-strip p {
    margin: 0;
    font-size: 1.5rem;
    color: white;
}

.user-avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    /*    background: radial-gradient(circle at 34% 22%, #8aa0f4, #1d38a3 78%);*/
    background: #FFF;
    color: #fff;
    display: grid;
    place-items: center;
    font-weight: 700;
    font-size: 1.65rem;
}

.icon-dashboard {
    width: 2rem;
    filter: brightness(0) invert(1);
    padding-left: .4rem;
}
