@inherits LayoutComponentBase

<div class="portal-root">
    @Body
</div>

<div id="blazor-error-ui" data-nosnippet>
    خطای پیش‌بینی‌نشده رخ داد.
    <a href="." class="reload">بارگذاری مجدد</a>
    <span class="dismiss">x</span>
</div>
