@inherits LayoutComponentBase

<div class="portal-root">
    @Body
</div>

<div id="blazor-error-ui" data-nosnippet>
    ???? ????????????? ?? ???.
    <a href="." class="reload">???????? ????</a>
    <span class="dismiss">x</span>
</div>