@using Microsoft.AspNetCore.Components.Routing
@inject UserSession UserSession
@inject NavigationManager Navigation

<button class="hamburger-btn" @onclick="ToggleNavMenu">
    <span class="hamburger-icon"></span>
</button>

<aside class="dashboard-side @(isNavMenuOpen ? "show-menu" : "")">
    <div class="side-top">
        <img src="Images/logo1.png" class="side-logo" alt="لوگوی بنیاد" />

        <ul class="side-menu">
            @foreach (var item in SidebarItems)
            {
                <li class="p-1">
                    <NavLink href="@item.Route"
                             class="side-link"
                             ActiveClass="active-link"
                             @onclick="CloseMenu"
                             style="color: #fff; text-decoration: none; text-shadow: 0px 0px 3px rgba(50, 60, 196, 1); font-size:1rem;">
                        @item.Title
                    </NavLink>
                </li>
            }
        </ul>
    </div>

    <button class="side-exit" @onclick="SignOut">
        <img class="icon-logout" src="Images/dashboard/logout.png" />
        <span> خروج</span>
    </button>
</aside>

@if (isNavMenuOpen)
{
    <div class="menu-backdrop" @onclick="ToggleNavMenu"></div>
}
